@import '../../scss/variables.scss';

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 10px;
  margin: 0;
  border: 0;
}

.rating__title {
  font-family: $basic-font;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  margin-right: 10px;
}

.rating__stars,
.rating__star {
  height: 26px;
  background-size: 35px 26px;
  background-repeat: repeat-x;
}

.rating__stars {
  position: relative;
  width: 170px;
  background-image: url('/img/star-icon.svg');

  &:focus-within {
    outline: 1px solid rgba(0, 0, 0, 1);  
  }
}

.rating__star {
  position: absolute;
  width: 20%;
  background-image: url('/img/active-star-icon.svg');
  opacity: 0;
  z-index: 5;
  cursor: pointer;

  &:nth-of-type(2) {
    width: 40%;
    z-index: 4;
  }

  &:nth-of-type(3) {
    width: 60%;
    z-index: 3;
  }

  &:nth-of-type(4) {
    width: 80%;
    z-index: 2;
  }

  &:nth-of-type(5) {
    width: 100%;
    z-index: 1;
  }
}

.rating__field:checked + .rating__star {
  opacity: 1;
}

.rating__star:hover {
  opacity: 1;
}

.rating__star:hover ~ .rating__star {
  opacity: 0;
}