@import '../../scss/mixins.scss';

.button {
  text-decoration: none;
  letter-spacing: 0.11em;
  color: rgba(209, 33, 54, 1);
  border: 1px solid rgba(209, 33, 54, 1);

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 1);
    background-color:rgba(209, 33, 54, 1);
  }
}
