@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans'),
  url('../fonts/open-sans-regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans'),
  url('../fonts/open-sans-semibold.ttf') format('ttf'),
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans'),
  url('../fonts/open-sans-bold.ttf') format('ttf'),
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Proxima Nova'),
  url('../fonts/proxima-nova-regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Proxima Nova'),
  url('../fonts/proxima-nova-semibold.ttf') format('ttf'),
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Proxima Nova'),
  url('../fonts/proxima-nova-bold.ttf') format('ttf'),
}