@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__link {
  @include reset-link;
}

.contacts__info {
  width: 300px;
  font-family: $basic-font;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 1);
}

.contacts__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: rgba(26, 33, 47, 1);
  margin-bottom: 10px;
}

.contacts__map {
  padding-top: 5px;
  width: 431px;
  border: none;
}
